#back-to-top {
  position: fixed;
  bottom: 2em;
  right: 1.5em;
  border-radius: 100%;
  color: var(--white-color);
  background-color: var(--black-color);
  padding: 1.5em 1.5em;
  text-align: center;
  z-index: 10;

  transform: scale(1);
  transition: transform 1s, color 0.5s;
}

#back-to-top:hover {
  color: var(--light-blue-color);
  transform: scale(1.2);
}

.outer-circle {
  position: fixed;
  bottom: 0.9em;
  right: 0.9em;
  border-radius: 100%;
  z-index: 11;
  width: 3em;
  height: 3em;

  transform: scale(0);
  transition: transform 0.7s;
}

#back-to-top:hover .outer-circle {
  border: 2px solid var(--light-blue-color);
  transform: scale(2);
}

header {
  background-color: var(--dark-color);
  color: var(--white-color);
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }
  20% {
    transform: rotate(180deg) scale(1.1);
    left: 55%;
  }
  40% {
    transform: rotate(-180deg) scale(1.1);
    left: 60%;
  }
  60% {
    transform: rotate(-180deg) scale(1.5);
    left: 27%;
  }
  80% {
    left: 22%;
  }
  100% {
    transform: rotate(-90deg);
  }
}

.rotating-box {
  border-radius: 25%;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 25%;
  left: 30%;
  opacity: 0.35;
  z-index: 0;
}

.box1 {
  background-color: #25d952;
  animation: rotating ease-in-out 7s infinite;
}
.box2 {
  background-color: #a0bbf2;
  animation: rotating ease-in-out 8s infinite reverse;
}
.box3 {
  background-color: #5576d9;
  animation: rotating 9s ease-in-out infinite;
}

nav img {
  float: left;
  margin-right: 1em;
  margin-left: 1em;
  border-radius: 25%;
  background-color: white;
  width: 40px;
  height: 40px;
}

nav {
  background-color: var(--white-color) !important;
}

nav a {
  color: var(--dark-color) !important;
}

nav a.active {
  color: var(--blue-color) !important;
}

nav a.btn {
  color: var(--white-color) !important;
  background-color: var(--blue-color) !important;
}

footer {
  background-color: var(--dark-color) !important;
  color: var(--dark-color) !important;
}

footer ul li {
  color: var(--white-blue-color) !important;
}

footer a.nav-link * {
  transition: color 0.75s, transform 1s;
  transform: scaleX(0.95);
}

body {
  background-color: var(--lighter-blue-color) !important;
}

#my-nav a:hover:not(.active) {
  color: var(--light-blue-color) !important;
}

#my-nav a.btn:hover {
  color: var(--blue-color) !important;
  background-color: var(--white-color) !important;
}

footer a.nav-link:hover * {
  color: var(--light-blue-color) !important;
  border-bottom: 1px solid !important;
  border-bottom-color: var(--white);
  transform: scaleX(1);
}
