.dark-color {
  background-color: #1a2440 !important;
}
.blue-color {
  background-color: #5576d9 !important;
}
.light-blue-color {
  background-color: #a0bbf2 !important;
}
.light-color {
  background-color: #d5e2f2 !important;
}
.success-color {
  background-color: #25d952 !important;
}
.white-color {
  background-color: white !important;
}

.dark-text {
  color: #1a2440 !important;
}
.blue-text {
  color: #5576d9 !important;
}
.light-blue-text {
  color: #a0bbf2 !important;
}
.light-text {
  color: #d5e2f2 !important;
}
.success-text {
  color: #25d952 !important;
}
.white-text {
  color: white !important;
}

.my-nav-style .nav-item {
  border: none;
  border-right: 1px solid #070a40;
  border-bottom: 1px solid transparent;
}
.my-nav-style .nav-item:last-child {
  border-right: none;
  border-bottom: 1px solid transparent;
}

.my-nav-style .nav-link:hover {
  color: #a0bbf2 !important;
  border-bottom: 1px solid #a0bbf2 !important;
}

#description-field {
  height: 7em;
}

#bottom-gap {
  height: 10em;
}

.invalid-feedback {
  color: #d95581 !important;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
}

.active {
  color: #5576d9 !important;
  font-weight: bold;
}
