<header id="header" class="text-center py-4 position-relative overflow-hidden">
  <h1 class="display-1">MyCommerce</h1>
  <div class="rotating-box box1"></div>
  <div class="rotating-box box2"></div>
  <div class="rotating-box box3"></div>
</header>
