<nav
  class="container-fluid navbar navbar-expand-sm position-sticky top-0 shadow z-3 bg-light1"
>
  <div class="navbar-brand">
    <img src="/images/logo.png" alt="" />
  </div>
  <div class="container-fluid d-sm-none w-25">
    <button
      class="navbar-toggler m-0"
      data-bs-toggle="collapse"
      data-bs-target="#my-nav"
    >
      <div class="navbar-toggler-icon"></div>
    </button>
  </div>
  <div id="my-nav" class="collapse navbar-collapse">
    <div class="container ms-0">
      <ul class="navbar-nav fw-semibold">
        <li class="nav-item">
          <a href="/" class="nav-link active fw-bold">Home</a>
        </li>
        <li class="nav-item">
          <a href="/cv" class="nav-link">CV</a>
        </li>
        <li class="nav-item">
          <a href="/contact" class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="/api/restful-api" class="nav-link">Our API</a>
        </li>
        <li class="nav-item ms-sm-auto col-3 col-md-2">
          <a href="" class="btn btn-primary w-100"> Log In </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
