#form-container .card-header {
  background-color: var(--blue-color);
  color: var(--white-color);
}

#form-container .card-body {
  background-color: var(--white-blue-color);
}

#story-form {
  color: var(--dark-color) !important;
}

#story-form .form-control {
  background-color: var(--white-color);
}

#create-story-btn {
  background-color: var(--green-color);
}

#update-story-btn {
  background-color: var(--blue-color);
}

#cancel-btn {
  background-color: var(--grey-blue-color);
  color: var(--white-color);
}

.invalid-feedback {
  color: var(--error-color) !important;
}

#stories-container > h1 {
  color: var(--blue-color);
}

#stories .card {
  transition: transform 0.5s;
  z-index: 0;
}

#stories .card-header {
  background-color: var(--dark-color);
  color: var(--white-color);
}

#stories .card-body {
  background-color: var(--white-color) !important;
}

#stories .card-footer {
  background-color: var(--white-blue-color) !important;
}

#stories .btn-edit {
  background-color: var(--grey-blue-color);
}

#stories .btn-delete {
  background-color: var(--error-color);
}

#create-story-btn:hover {
  background-color: var(--white-color);
  color: var(--green-color);
}

#update-story-btn:hover {
  color: var(--blue-color);
  background-color: var(--white-color);
}

#cancel-btn:hover {
  color: var(--grey-blue-color);
  background-color: var(--white-color);
}

#stories .card:hover {
  transform: scale(1.05);
  z-index: 1;
}

#stories .btn-edit:hover {
  background-color: var(--white-color);
  color: var(--grey-blue-color);
}

#stories .btn-delete:hover {
  background-color: var(--white-color);
  color: var(--error-color);
}
