<div
  class="container my-secondary-bg w-75 fs-6 px-5 py-3 mt-5 rounded shadow-lg"
>
  <h1 class="text-center display-6 mt-1 mb-5 my-tertiary-bg">Our Mission</h1>
  <p>
    MyCommerce, serving since 1999, is dedicated to bringing the best products
    to our customers.
    <br />Our mission is to provide top quality products and services at an
    affordable price, to make sure everyone has their daily necessesities.
  </p>
  <p>
    Please view our Terms and Conditions
    <a
      href="/files/terms-conditions.txt"
      class="nav-link text-decoration-underline d-inline-block"
      >here</a
    >
    before buying our products.
    <br />We strictly enforce our Terms and Conditions. Any violations will be
    handled, which may lead to a ban. <br />
    If you find any violations, please report to us at
    <a
      href="/contact-us"
      class="nav-link text-decoration-underline d-inline-block"
      >this link</a
    >.
  </p>
</div>

<div id="quality-section" class="container my-5 px-5 py-5 w-50">
  <div class="row justify-content-start text-center gx-5 gy-3 py-2">
    <div class="col-12 col-sm-8 col-lg-4 col-xl-4 shadow py-3">
      <i class="fa fa-clock-o fa-4x mb-3"></i>
      <h2 class="fs-5">Delivery within 3 Days Guarateed</h2>
    </div>
  </div>
  <div class="row justify-content-end text-center gx-5 gy-3 py-2">
    <div class="col-12 col-sm-8 col-lg-4 col-xl-4 shadow py-3">
      <i class="fa fa-shopping-bag fa-4x mb-3"></i>
      <h2 class="fs-5">More than 500 Million Products</h2>
    </div>
  </div>
  <div class="row justify-content-start text-center gx-5 gy-3 py-2">
    <div class="col-12 col-sm-8 col-lg-4 col-xl-4 shadow py-3">
      <i class="fa fa-users fa-4x mb-3"></i>
      <h2 class="fs-5">Served over 1 Million Customers since 1999</h2>
    </div>
  </div>
</div>

<div class="container w-75 my-5 py-5">
  <h1 class="display-4 fw-bold text-center text-secondary">
    <span class="text-warning">4.9 Stars</span> on FoodPanda
  </h1>
  <h1 class="display-4 fw-bold text-center text-secondary">
    <span class="text-primary">1 Million+</span> Ratings
  </h1>
</div>

<div id="browse-products" class="container w-50 my-5 text-center">
  <a
    href="/products"
    class="ms-3 fs-2 nav-link text-decoration-none d-inline-block"
    ><i class="fa fa-shopping-cart"></i> Browse our Products</a
  >
</div>

<div id="bottom-gap"></div>
