<footer>
  <div class="container-fluid text-bg-dark p-5">
    <div class="row gy-5 justify-content-start">
      <div class="col-12 col-md-4 text-center">
        <h1 class="fs-5 w-100 mb-4">Our Policy</h1>
        <a href="" class="nav-link small d-inline"> <p>View Policy</p></a>
      </div>
      <div class="col-12 col-md-8 col-lg-4 text-center">
        <h1 class="fs-5 mx-auto mb-3">Find Us</h1>
        <div class="row">
          <div class="col text-center">
            <a href="" class="nav-link">
              <i class="fa fa-facebook text-white"></i>
              <p class="small">Facebook</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="" class="nav-link">
              <i class="fa fa-github text-white"></i>
              <p class="small">GitHub</p>
            </a>
          </div>
          <div class="col text-center">
            <a href="" class="nav-link">
              <i class="fa fa-twitter text-white"></i>
              <p class="small">Twitter</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
