<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <!-- old way to link, gives error -->
    <!-- <link rel="stylesheet" href="../public/styles.css""> -->
    <!-- write it this way now, similar for JS, images etc -->
    <!-- cuz can access this in same url -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('./partials/menu') %>
    <h1>Contact us</h1>
  </body>
</html>
