<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
  </head>
  <body>
    <h1>Layout file</h1>

    <!-- child goes here -->
    <%-body %>

    <!-- now only need to modify in 1 place -->
    <hr />
    Footer here
  </body>
</html>
