body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  background-color: black;
  color: white;
  border-radius: 1em;
  display: inline-block;
  padding: 0.5em;
  font-size: 1em;
}

h1:hover {
  color: white;
  background-color: grey;
}
