<!-- this is a partial file, partial = there is no html, head, body etc tags, just a part of html -->
<div class="container-fluid">
  <div class="navbar navbar-expand-md">
    <div class="navbar-brand">My Express App</div>

    <button
      class="navbar-toggler"
      data-bs-target="#my-nav"
      data-bs-toggle="collapse"
    >
      <div class="navbar-toggler-icon"></div>
    </button>

    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/css/styles.css" class="nav-link">Styles route</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Home page route</a>
        </li>
        <li class="nav-item">
          <a href="/contact-us" class="nav-link">Contact Us route</a>
        </li>
        <li class="nav-item">
          <a href="/api/stories" class="nav-link">Api route</a>
        </li>
      </ul>
    </div>
  </div>
</div>
